<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Qué es cajas con cariño?</h2>
                    <h3 class="section-subheading text-muted">Cajas con Cariño es un proyecto que busca recolectar mercadería de productos no perecibles y donaciones para familias de escasos recursos. Todos pueden ayudar desde la comodidad de su casa. Los aportes serán entregados a familias con altos indices de vulneabilidad escojidas por asistentes sociales de estación central.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Aporta con mercadería o transferencia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Llena el  formulario o has una transferencia. Si vas a donar mercadería aquí tienes una lista de algunas ideas.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">La vamos a buscar a tu casa o nos juntamos en un centro de acopio </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Si decides aportar con mercadería, nosotros la iremos a retirar al lugar, hora y fecha que hayas especificado.  Nos comunicaremos contigo antes para confirmar y en caso de qué tengamos muchos retiros te propondremos un horario a convenir.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Hacemos llegar tu ayuda a personas que lo necesitan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Armaremos canastas familiares con los aportes que tú y más personas hagan. Con el dinero se comprará la mercadería faltante para terminar las canastas, se armarán canastas extra si es posible y se comprarán regalos para los niños registrados de las familias.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Te informamos a quienes les ha llegado tu ayuda.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Te haremos llegar al correo el agradecimeinto de las familias que has ayudado.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Súmate
                                    <br>y regálales
                                    <br>una sorpresa</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
