  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright"></span> {{ site.title }} es un proyecto sin fines de lucro</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}" target=blank><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>Contáctanos a <a>cajasconcarino@gmail.com </a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
