<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sé parte en un click</h2>
                    <h3 class="section-subheading text-muted">Y comparte en redes sociales.</h3>
                </div>
            </div>
            <div class="row">
            <!--
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="" >
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            -->
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://docs.google.com/document/d/1_yLJCKNgja2EygACNqW5hjszQLf1MGZ26F5nIKtLcjQ/edit?usp=sharing" class="portfolio-link" target=blank>
                    
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="https://img2.thejournal.ie/article/5103451/river?version=5103457&width=1340" class="img-responsive img-centered" alt="" >
                </a>
                <div class="portfolio-caption">
                    <h4>Donación Monetaria</h4>
                    <p class="text-muted">Realiza una transferencia a la siguiente cuenta
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://docs.google.com/spreadsheets/d/13zSeCkWGte0_zX7LAfEHgY-EfSU4NOouhB-OdBUaS2c/edit?usp=sharing" class="portfolio-link" target=blank>
                    
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT71FPjbc7UN9p2AbqKvOwIae6gS1zSb2lwQw&usqp=CAU" class="img-responsive img-centered" alt="" >
                </a>
                <div class="portfolio-caption">
                    <h4>Dona mercadería</h4>
                    <p class="text-muted">Y la vamos a buscar a tu casa o centro de acopio 
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="" class="portfolio-link" target=blank>
                    
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="https://panamericanworld.com/wp-content/uploads/2019/10/Untitled-11.png" class="img-responsive img-centered" alt="" >
                </a>
                <div class="portfolio-caption">
                    <h4>Ideas de mercadería</h4>
                    <p class="text-muted">Revisa algunas ideas de mercadería que proponemos
                    </p>
                </div>
            </div>
            </div>
        </div>
    </section>
